<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">
    
  <display-name>OA</display-name>
  <description>OA for bwm work</description>
  
  <!-- servlet-class -->
  <servlet>
  	<servlet-name>info.del</servlet-name>
    <servlet-class>com.info.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>info.read</servlet-name>
    <servlet-class>com.info.Read</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>info.view</servlet-name>
    <servlet-class>com.info.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>info.send</servlet-name>
    <servlet-class>com.info.Send</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bumf.complete</servlet-name>
    <servlet-class>com.bumf.Complete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bumf.see</servlet-name>
    <servlet-class>com.bumf.See</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bumf.accept</servlet-name>
    <servlet-class>com.bumf.Accept</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bumf.save</servlet-name>
    <servlet-class>com.bumf.Save</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bumf.send</servlet-name>
    <servlet-class>com.bumf.Send</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emex.add</servlet-name>
    <servlet-class>com.emex.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emex.view</servlet-name>
    <servlet-class>com.emex.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emex.del</servlet-name>
    <servlet-class>com.emex.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>affice.add</servlet-name>
    <servlet-class>com.affice.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>affice.view</servlet-name>
    <servlet-class>com.affice.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>affice.del</servlet-name>
    <servlet-class>com.affice.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login.main</servlet-name>
    <servlet-class>com.login.Main</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login.admin</servlet-name>
    <servlet-class>com.login.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login.em</servlet-name>
    <servlet-class>com.login.Em</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sign.signstate</servlet-name>
    <servlet-class>com.sign.Signstate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sign.state</servlet-name>
    <servlet-class>com.sign.State</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sign.sign</servlet-name>
    <servlet-class>com.sign.Sign</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sign.view</servlet-name>
    <servlet-class>com.sign.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>department.depview</servlet-name>
    <servlet-class>com.department.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>department.depadd</servlet-name>
    <servlet-class>com.department.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>department.depsel</servlet-name>
    <servlet-class>com.department.Select</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>department.depcha</servlet-name>
    <servlet-class>com.department.Change</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>department.depdel</servlet-name>
    <servlet-class>com.department.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>job.depview</servlet-name>
    <servlet-class>com.job.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>job.depadd</servlet-name>
    <servlet-class>com.job.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>job.depsel</servlet-name>
    <servlet-class>com.job.Select</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>job.depcha</servlet-name>
    <servlet-class>com.job.Change</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>job.depdel</servlet-name>
    <servlet-class>com.job.Del</servlet-class>
  </servlet>
  <servlet>
 	<servlet-name>emstate.depview</servlet-name>
    <servlet-class>com.emstate.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emstate.depadd</servlet-name>
    <servlet-class>com.emstate.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emstate.depsel</servlet-name>
    <servlet-class>com.emstate.Select</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emstate.depcha</servlet-name>
    <servlet-class>com.emstate.Change</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emstate.depdel</servlet-name>
    <servlet-class>com.emstate.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>em.add</servlet-name>
    <servlet-class>com.em.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>em.save</servlet-name>
    <servlet-class>com.em.Save</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>em.view</servlet-name>
    <servlet-class>com.em.View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>em.select</servlet-name>
    <servlet-class>com.em.Select</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>em.del</servlet-name>
    <servlet-class>com.em.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sys.set</servlet-name>
    <servlet-class>com.sys.Set</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sys.active</servlet-name>
    <servlet-class>com.sys.Active</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sys.del</servlet-name>
    <servlet-class>com.sys.Del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>temp.my</servlet-name>
    <servlet-class>com.temp.My</servlet-class>
  </servlet>
  <!-- servlet-mapping -->
  <servlet-mapping>
    <servlet-name>temp.my</servlet-name>
    <url-pattern>/temp/my</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>info.del</servlet-name>
    <url-pattern>/info/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>info.read</servlet-name>
    <url-pattern>/info/read</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>info.view</servlet-name>
    <url-pattern>/info/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>info.send</servlet-name>
    <url-pattern>/info/send</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bumf.complete</servlet-name>
    <url-pattern>/bumf/complete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bumf.see</servlet-name>
    <url-pattern>/bumf/see</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bumf.accept</servlet-name>
    <url-pattern>/bumf/accept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bumf.save</servlet-name>
    <url-pattern>/bumf/save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bumf.send</servlet-name>
    <url-pattern>/bumf/send</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emex.add</servlet-name>
    <url-pattern>/emex/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emex.view</servlet-name>
    <url-pattern>/emex/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emex.del</servlet-name>
    <url-pattern>/emex/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>affice.add</servlet-name>
    <url-pattern>/affice/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>affice.view</servlet-name>
    <url-pattern>/affice/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>affice.del</servlet-name>
    <url-pattern>/affice/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login.main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login.admin</servlet-name>
    <url-pattern>/login/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login.em</servlet-name>
    <url-pattern>/login/em</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sign.signstate</servlet-name>
    <url-pattern>/sign/signstate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sign.state</servlet-name>
    <url-pattern>/sign/state</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sign.sign</servlet-name>
    <url-pattern>/sign/sign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sign.view</servlet-name>
    <url-pattern>/sign/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>department.depview</servlet-name>
    <url-pattern>/department/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>department.depadd</servlet-name>
    <url-pattern>/department/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>department.depsel</servlet-name>
    <url-pattern>/department/select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>department.depcha</servlet-name>
    <url-pattern>/department/change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>department.depdel</servlet-name>
    <url-pattern>/department/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>job.depview</servlet-name>
    <url-pattern>/job/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>job.depadd</servlet-name>
    <url-pattern>/job/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>job.depsel</servlet-name>
    <url-pattern>/job/select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>job.depcha</servlet-name>
    <url-pattern>/job/change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>job.depdel</servlet-name>
    <url-pattern>/job/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emstate.depview</servlet-name>
    <url-pattern>/emstate/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emstate.depadd</servlet-name>
    <url-pattern>/emstate/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emstate.depsel</servlet-name>
    <url-pattern>/emstate/select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emstate.depcha</servlet-name>
    <url-pattern>/emstate/change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emstate.depdel</servlet-name>
    <url-pattern>/emstate/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>em.add</servlet-name>
    <url-pattern>/em/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>em.save</servlet-name>
    <url-pattern>/em/save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>em.view</servlet-name>
    <url-pattern>/em/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>em.select</servlet-name>
    <url-pattern>/em/select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>em.del</servlet-name>
    <url-pattern>/em/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sys.set</servlet-name>
    <url-pattern>/sys/set</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sys.active</servlet-name>
    <url-pattern>/sys/active</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sys.del</servlet-name>
    <url-pattern>/sys/del</url-pattern>
  </servlet-mapping>
  <!-- jndi -->
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/OA</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
</web-app>